<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hangman Menue</title>

    {% load static %}

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'hangman.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/bootstrap.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'game.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="header">Hangman</div>

    <div>
      <label for="letterInput" style="color: white">Eingabefeld</label>
      <input
        type="text"
        name="letterInput"
        maxlength="1"
        onkeyup="checkLetter(event)"
        id="letterInput"
      />
      <button type="button"
      class="backToMenu">Zurück</button>
    </div>

    <div class="wordLines">
      {% for letter in wordLetters %}

      <div class="letterElement">
        <div class="gridElement">
          <span class="letter">{{letter}}</span>
          <div class="wordLine"></div>
        </div>
      </div>

      {% endfor %}
    </div>

    <div class="game-container">
      <svg height="250" width="200" class="figure-container">
        <!-- Rod -->
        <line x1="60" y1="20" x2="140" y2="20" />
        <line x1="140" y1="20" x2="140" y2="50" />
        <line x1="60" y1="20" x2="60" y2="230" />
        <line x1="20" y1="230" x2="100" y2="230" />

        <!-- Head -->
        <circle cx="140" cy="70" r="20" class="figure-part" />
        <!-- Body -->
        <line x1="140" y1="90" x2="140" y2="150" class="figure-part" />
        <!-- Arms -->
        <line x1="140" y1="120" x2="120" y2="100" class="figure-part" />
        <line x1="140" y1="120" x2="160" y2="100" class="figure-part" />
        <!-- Legs -->
        <line x1="140" y1="150" x2="120" y2="180" class="figure-part" />
        <line x1="140" y1="150" x2="160" y2="180" class="figure-part" />
      </svg>
    </div>

    <script src="{% static 'game_logik.js' %}"></script>
  </body>
</html>
