<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hangman Menue</title>

    {% load static %}

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'hangman.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/bootstrap.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'menue.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class = "blackboard">
      <div class="card">
        <div class="container">
          <b>Menu</b>
        </div>
  
        <div class="mb-3 row">
            Player:
          <div class="col-sm-9">
            <input
              list="names"
              type="text"
              id="playerInput"
              minlength="1"
              maxlength="9"
              placeholder="Playername">
        <datalist id="names">
                      {% for player in allPlayer %}
                      <option value="{{player}}">
                          {% endfor %}
                  </datalist>
          </div>
        </div>
  
        <div class="buttons">
          <button
            type="button"
            class="playButton"
            onclick="selectWord()">
            Play
          </button>
          <button
            type="button"
            class="playOnTimeButton"
            onclick="window.location.href='http://localhost:8000/game'">
            Against the time
          </button>
        </div>
      </div>
      <!--transportiert die HTML Variable von Python an die javaScript Datei-->
      {{ allPlayer|json_script:"allPlayer" }}
      <script src="{% static 'menue_logik.js' %}"></script>
    </div>
  </body>
</html>
