.header {
  min-width: 100vh;
  text-align: center;
  color: rgb(232, 232, 232);
  font-size: 4vw;
  margin-bottom: 1vw;
}

@font-face {
  font-family: "EraserDust";
  src: url(EraserDust.ttf) format("truetype");
}

body {
  background-image: url("5f1fd7a07598c033cb7a4b6e_alu_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(232, 232, 232);
  min-height: 100vh;
  font-family: "EraserDust";
}

.blackboard {
  max-width: 98.5%;
  min-height: 97vh;
  background-image: url("Tafel_neu.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EraserDust";
  font-size: 3vh;
  color: rgb(232, 232, 232);
  margin: auto;
  position: relative;
  transform: translateY(1.5%);
  padding: 3vw;
}

.wordLine {
  background-color: rgb(232, 232, 232);
  margin-left: 2%;
  height: 20px;
}

.stuff {
  display: flex;
  margin-bottom: 6vh;
}

.backButton {
  margin-right: 1vw;
  display: flex;
  justify-content: flex-end;
  color: rgb(232, 232, 232);
  flex: 1;
}

.letterInput {
  font-size: 3vh;
  margin-left: 1vw;
  flex: 1;
}

#letterInput {
  background: transparent;
  color: rgb(232, 232, 232);
  border: 2px;
  border-style: dashed;
  padding-left: 2%;
  margin-left: 2vw;
}

.letter {
  color: rgb(232, 232, 232);
  font-size: 7vh;
  margin: 32%;
}

.letter2{
  color: rgb(232, 232, 232);
  font-size: 7vh;
  line-height: 1;
}

.wordLines {
  margin: auto;
  display: flex;
  width: fit-content;
  max-width: 92vw;
}

.letterElement {
  width: 6vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

button {
  background-color: transparent;
  color: rgb(232, 232, 232);
  border-style: none;
  font-size: 3vh;
}

button:hover {
  font-size: 3.5vh;
  font-weight: bold;
}

.all {
  margin-top: 8vh;
  display: flex;
}

.usedLetters {
  max-width: 20vw;
  min-width: 20vw;
  padding-left: 1vw;
  margin-right: 2vw;
}

.game-container {
 flex: 1;
}

.figure-container {
  fill: transparent;
  stroke: rgb(232, 232, 232);
  stroke-width: 5px;
  stroke-linecap: round;
  margin-left: 40%;
  margin-right: 40%;
}

.figure-part {
  display: block;
}

.letterElement2 {
  float: left;
  margin-left: 1%;
  max-height: 50px;
}

.hitsTrys
{
  clear: all;
  font-size: 3vw;
  margin-right: 2vw;
  line-height: 1;
}

hr{
  border-width: 5px;
  border-color: rgb(232, 232, 232);
  opacity: 1;
}