body {
    background-image: url("Tafel_neu.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* .wordLine {
    border-color: white;
    margin-left: 2%;
    border-width: 20px;
    width: 5%;
    opacity: 1;
} */

.wordLine {
    background-color: white;
    grid-area: line;
    margin-left: 2%;
    height: 20px;
}

.wordLines {
    /* display: flex; */

}

.letter {
    color: white;
    font-size: 50px;
    grid-area: letter;
    margin-left: 37%;
}

.gridElement {
    display: grid;
    grid-template-areas: 'letter'
        'line';
}

.letterElement {
    width: 8%;
    float: left;
    margin-left: 1%;
}

.header {
    min-width: 100vh;
    text-align: center;
    color: white;
    font-size: 70px;
    margin-bottom: 1vw;
}